body{
  background: url(d:/parik/img/page.jpg);
  background-size: cover;
  width: 99.4%;
  height: 100%;
  background-color: #730cf2;
  color: #333;
  font-family: "SEGOE UI", Arial, sans-serif;
  font-size: 1em;
  line-height: 135%;
  float: left;
}
img{
width: 240px;
height: 300px;
}
#woman>h2, #okra>h2, #str>h2{
  color: #f71dd3;
  padding-bottom: 8px;
    border-bottom: 10px solid #f71dd3;
}
div>img{
  border: 2px solid #f71dd3;
}
#a>img{
  border: 2px solid #909296;
}
#man>h2{
  color: #909296;
  padding-bottom: 8px;
    border-bottom: 10px solid #909296;
}
h2{
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
}
#woman{
  float: left;
  margin-left: 2%;
  width: 60%;
}
#okra, #str{
    background-color:#ffb2fc;
}
#okra{
    text-align: center;
  padding-right: 5%;
  float: left;
  width: 45%;
border-right: 8px solid #f71dd3;
border-left: 8px solid #f71dd3;
}
#str{
  text-align: center;
  padding-right: 4%;
  border-right: 8px solid #f71dd3;
    border-left: 8px solid #f71dd3;
  float: right;
  width: 40%;
}
#pri{
    background-color:#dbdbdb;
}
#man{
  text-align: center;
  float: right;
  margin-right: 3%;
  width: 35%;
}
#pri{
  padding-left: 0%;
  margin-left: 7%;
  border-left: 8px solid #909296;
  border-right: 8px solid #909296;
}
